{% extends "rest_framework/base.html" %}
{% load static %}

{% block title %}Clipster - Share Clip{% endblock %}

{% block branding %}
<a class='navbar-brand' rel="nofollow">Share Clip</a>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
<div class="banner">
    <img src="{% static 'images/banner_transparent.png' %}" alt="Clipster banner">
</div>

<div class="container-fluid" style="margin-top: 30px">
    <div class="well" style="width: 320px; margin-left: auto; margin-right: auto">
        Hi <b>{{user}}</b>. Here, you can share clips with your other devices.
        <br><br>
        <b>Notice:</b><br>
        For security reasons, the clips stored on the server are always encrypted.
        Before your clip is shared it will be encrypted locally in your browser. Only after that it is transmitted.
        <br><br>
        <form name="share_clip_form" action="{% url 'share_clip' %}" onsubmit="shareFormEncrypt(event);return false;"
            method="post">
            {% csrf_token %}
            <input type="hidden" id="id_user" name="user" value="{{ user.id }}">
            <input type="hidden" id="id_username" name="username" value="{{ user }}">
            <input type="hidden" id="id_device" name="device" value="web_frontend">
            <input type="hidden" id="id_format" name="format" value="txt">
            <div id="div_id_password" class="clearfix control-group">
                <div class="form-group">
                    <label for="id_password">Password:</label>
                    <input type="password" name="password" maxlength="100" autocapitalize="off" autocorrect="off"
                        class="form-control textinput textInput" id="id_password" required autofocus>
                    {% if form.user.errors %}
                    <p class="text-error">
                        {{ form.user.errors|striptags }}
                    </p>
                    {% endif %}
                    <label for="fileupload">Image:</label>
                    <input id="fileupload" type="file" onchange="encodeFileToBase64(this)" />
                    <button onclick="resetForm()">Reset</button>
                    <label for="id_text">Clip:</label>
                    <textarea id="id_text" name="text" class="text-share-clip" autocapitalize="off" autocorrect="off"
                        class="form-control textinput textInput" required></textarea>
                </div>
            </div>
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <div class="well well-small text-error" style="border: none">{{ error }}</div>
            {% endfor %}
            {% endif %}
            <p class="well well-small text-error" id="share_status_msg" style="display: none;"></p>
            <div class="form-actions-no-box">
                <input type="submit" name="submit_btn" value="Encrypt and share clip"
                    class="btn btn-primary form-control" id="submit-id-submit">
            </div>
        </form>
    </div>
    <p style="text-align: center;"><a href="{% url 'list_clips_frontend' %}">Want to list your shared clips?</a></p>

</div>

{% endblock %}

{% block script_extra %}
<script src="{% static 'crypto/crypto_form.js' %}"></script>
<script src="{% static 'crypto/sjcl.js' %}"></script>
<script src="{% static 'crypto/fernet.js' %}"></script>
{% endblock %}